<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center titulo-principal">SKELETON<span class="skull"> g </span>APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Bill Clinton" src="assets/image/Divider-1536x400.png" />
    <ion-card-header>
      <ion-card-title>Perfil</ion-card-title>
      <ion-card-subtitle>Detalles del Perfil Lorem Ipsum</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Delectus quam molestiae animi quod voluptatum tenetur quia
      beatae quae maiores esse neque repellendus doloribus saepe
      illum, possimus repellat suscipit eius dolor.
    </ion-card-content>
    <br>
    <br>
    <ion-button expand="block" size="medium" [routerLink]="['/home']">Home</ion-button>
    <ion-button expand="block" size="medium" [routerLink]="['/galeria']">Galeria</ion-button>
    <ion-button expand="block" size="medium" [routerLink]="['/contacto']">Contacto</ion-button>
    <br>
    <ion-button expand="block" size="medium" [routerLink]="['/access']">Salir</ion-button>
  </ion-card>
</ion-content>
