<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center titulo-principal">SKELETON<span class="skull"> g </span>APP</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <ion-img
  src="assets/image/malenia.png"
  alt="Malenia, Elden Ring"></ion-img>
  <ion-img
  src="assets/image/ranni.png"
  alt="Ranni, Elden Ring"></ion-img>
  <ion-img
  src="assets/image/maliketh.png"
  alt="Maliketh, Elden Ring"></ion-img> 
  <ion-img
  src="assets/image/eldenboss1.png"
  alt="Boss 01, Elden Ring"></ion-img> 
  <ion-img
  src="assets/image/eldenboss2.png"
  alt="Boss 02, Elden Ring"></ion-img>     
  <br>
  <ion-button expand="block" size="medium" [routerLink]="['/home']">Home</ion-button>
    <ion-button expand="block" size="medium" [routerLink]="['/perfil']">Perfil</ion-button>
    <ion-button expand="block" size="medium" [routerLink]="['/contacto']">Contacto</ion-button>
    <br>
    <ion-button expand="block" size="medium" [routerLink]="['/access']">Salir</ion-button>
  </ion-content>
