<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"><ion-icon name="fish-outline"></ion-icon> Skeleton App <ion-icon name="fish-outline"></ion-icon> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Login <ion-icon name="log-in-outline"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <ion-button fill="outline">
        Ingresar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
