<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center titulo-principal">SKELETON<span class="skull"> g </span>APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
<ion-card>
  <ion-card-title class="ion-text-center">Login Usuario</ion-card-title>
  <br>
  <ion-item>
    <ion-input [(ngModel)]="correo" label="Correo" labelPlacement="floating" placeholder="correo@gmail.com"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="password" label="Password" labelPlacement="floating" placeholder="Máximo 12 caracteres" type="password"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" (click)="PasarDatos()">Ingresar</ion-button>
</ion-card>
</ion-content>