<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center titulo-principal">SKELETON<span class="skull"> g </span>APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Home <ion-icon name="home-outline"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="nombre" label="Nombre" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="apellido" label="Apellido" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-label>Nivel Educacional</ion-label>
            <ion-select aria-label="Educacion" interface="popover" placeholder="Nivel Educacional">
              <ion-select-option value="Basico Completo">Basico Completo</ion-select-option>
              <ion-select-option value="Medio Completo">Medio Completo</ion-select-option>
              <ion-select-option value="Universitario Completo">Universitario Completo</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-item>
        <ion-label>Fecha Nacimiento</ion-label>
          <ion-input type="date"></ion-input>
        </ion-item>
      <br>
      <ion-button expand="block" (click)="mostrarUsuario()">Mostrar Usuario</ion-button>
      <br>
      <ion-button expand="block" size="medium" [routerLink]="['/perfil']">Perfil</ion-button>
      <ion-button expand="block" size="medium" [routerLink]="['/galeria']">Galeria</ion-button>
      <ion-button expand="block" size="medium" [routerLink]="['/contacto']">Contacto</ion-button>
      <br>
      <ion-button expand="block" size="medium" [routerLink]="['/access']">Salir</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
